<header>
    <div class="container-fluid header-container">
      <div class="title-container">
        <h1 class="text-center">Welcome to {{title}}</h1>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-dark" (click)="logout()">Logout</button>
      </div>
    </div>
  </header>

<br><br>
  <app-notes></app-notes>

  <footer>
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>MyNotes</p>
          </div>
        </div>
      </div>
 </footer>
      